section.how-we-works
    .container
        span.title-style How we work
        span.text-style Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
        a(href="javascript:void(0);").agency-btn.red-btn.title-btn Read more
        .slide-info
            .steps-slider.center
                #step.step.step1
                    span.number 1.
                    span.step-name Idea
                    span.step-desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                #step.step.step2
                    span.number 2.
                    span.step-name Design
                    span.step-desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                #step.step.output
                    span.number 3.
                    span.step-name Output
                    span.step-desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                #step.step.profit
                    span.number 4.
                    span.step-name Profit
                    span.step-desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
    .red-triangle2