section.our-team
    span.title-style Our creative team
    .team-slider-window
        .team-slider.center
            .team-member
                .member-photo
                    img(src="static/img/mem1.jpg").member-img
                span.member-name Linda Rose
                .member-occupation-wrap
                    span.member-occupation PR-assistant
            .team-member
                .member-photo
                    img(src="static/img/mem4.jpg").member-img
                span.member-name John Doe
                .member-occupation-wrap
                    span.member-occupation Designer
            .team-member
                .member-photo
                    img(src="static/img/mem5.jpg").member-img
                span.member-name Frank Zappa
                .member-occupation-wrap
                    span.member-occupation Co-founder
            .team-member
                .member-photo
                    img(src="static/img/mem3.jpg").member-img
                span.member-name Angela Li
                .member-occupation-wrap
                    span.member-occupation Senior Developer
    .dark-triangle1