section.title-banner
    .container
        .title-text-wrap
            span Think
            span Outside
            span.small of the box
            a(href="javascript:void(0);").agency-btn.white-btn.title-btn Read more
        img(src="static/img/title-model.png").title-model