section.what-client-says
    span.title-style What client says
    .clients-wrap
        .big-client-photo
            .photo-frame.wow.fadeIn
                img(src="static/img/step1.jpg").pic-in-frame
        .comment-slider-wrap
            .client-comment
                .qoutes-wrap
                    span.quotes &#10077
                .client-testimonail
                    span.place-comment.wow.fadeInLeft
                    span.place-client-name.wow.slideInRight Rita Ora, CEO, New Orlean
            .client-slider-wrap
                .client-slider-window
                    .client-slider.center
                        .client
                            .client-photo
                                img(src="static/img/mem1.jpg").little-client-photo
                            span.content You need to fix your selector. Although CSS syntax requires multiple classes to be space separated, selector syntax would require them to be directly concatenated, and dot prefixed.
                            span.name Jinny Snow, Company CEO
                        .client
                            .client-photo
                                img(src="static/img/mem2.jpg").little-client-photo
                            span.content The HTML Developer Certificate proves fundamental knowledge of web development using HTML5.
                            span.name Duncan Mclaud, Tech Support
                        .client
                            .client-photo
                                img(src="static/img/mem3.jpg").little-client-photo
                            span.content Our long-time default grayscale theme Smoothness has been succeeded by a modern theme with some colors, less gradients and some other improvements.
                            span.name Anna Potter, Bussiness Couch
                        .client
                            .client-photo
                                img(src="static/img/mem4.jpg").little-client-photo
                            span.content jQuery UI is built for designers and developers alike. We've designed all of our plugins to get you up and running quickly while being flexible enough to evolve with your needs and solve a plethora of use cases. If you're new to jQuery UI, check out our getting started guide and other tutorials. Play around with the demos and read through the API documentation to get an idea of what's possible.
                            span.name Armen Dgigarhanyan, Artist
                        .client
                            .client-photo
                                img(src="static/img/mem1.jpg").little-client-photo
                            span.content jQuery uses CSS syntax to select elements. You will learn more about the selector syntax in the next chapter of this tutorial.
                            span.name Jinny Snow, Company CEO
                        .client
                            .client-photo
                                img(src="static/img/mem2.jpg").little-client-photo
                            span.content It is good practice to wait for the document to be fully loaded and ready before working with it. This also allows you to have your JavaScript code before the body of your document, in the head section.
                            span.name Duncan Mclaud, Tech Support
                        .client
                            .client-photo
                                img(src="static/img/mem3.jpg").little-client-photo
                            span.content Trying to hide an element that is not created yet.
                            span.name Anna Potter, Bussiness Couch
                        .client
                            .client-photo
                                img(src="static/img/mem4.jpg").little-client-photo
                            span.content Use the syntax you prefer. We think that the document ready event is easier to understand when reading the code.
                            span.name Armen Dgigarhanyan, Artist
    .red-triangle3
    .dark-triangle2