.how-we-works
  width: 100%
  position: relative

  .container
    padding-bottom: 210px

  .title-style
    padding-top: 120px
    margin-bottom: 80px

  .text-style
    width: 25%
    max-width: 300px
    padding-bottom: 65px
    z-index: 20

.slide-info
  position: absolute
  top: 150px
  left: 25%
  overflow: hidden
  width: 100%
  z-index: 5

.steps-slider
  width: 100%
  padding-top: 80px
  -webkit-clip-path: polygon(4.5% 0%, 100% 0%, 95.5% 100%, 0% 100%)
  clip-path: polygon(4.5% 0%, 100% 0%, 95.5% 100%, 0% 100%)
  overflow: hidden

  .slick-center
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      background: rgba(76, 76, 76, 0.6)
      background-size: cover
      height: 300px
      width: 450px

    .step-name
      bottom: 120px

    .step-desc
      visibility: visible
      bottom: 30px
      left: 17%
      width: 50%

.step
  display: inline-block
  position: relative
  box-shadow: 1px 1px 25px 1px rgba(0,0,0,0.38)
  -webkit-box-shadow: 1px 1px 25px 1px rgba(0,0,0,0.38)
  -moz-box-shadow: 1px 1px 25px 1px rgba(0,0,0,0.38)
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%)
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%)
  //-webkit-transform: skew(-20deg)
  //-moz-transform: skew(-20deg)
  //-o-transform: skew(-20deg)
  //margin-left: 30px
  //margin-right: 30px
  height: 300px
  color: $whiteColor
  z-index: 6

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    background: rgba(0, 0, 0, 0.6)
    background-size: cover
    height: 300px
    width: 450px

.step1
  background: url("../img/step1.jpg")
  background-position: 0 0
  background-repeat: no-repeat
  background-size: contain

.step2
  background: url("../img/step2.png ")
  background-position: 0 0
  background-repeat: no-repeat
  background-size: cover

.output
  background: url("../img/output.jpg")
  background-position: 0 0
  background-repeat: no-repeat
  background-size: cover

.profit
  background: url("../img/profit.jpg")
  background-position: 0 0
  background-repeat: no-repeat
  background-size: cover

span.number
  position: absolute
  right: 40px
  top: 20px
  font-family: $LatoBold
  font-size: 3.412em
  z-index: 7

span.step-name
  position: absolute
  bottom: 25px
  left: 17%
  font-family: $LatoBold
  font-size: 2.353em
  text-transform: uppercase
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3)
  z-index: 7

.step-desc
  position: absolute
  visibility: hidden
  font-family: $OpenSans
  font-size: 1.059em
  z-index: 7

.red-triangle2
  position: absolute
  //width: 573px
  //height: 1000px
  right: 0
  //top: -500px
  background: $btnRedColor
  -webkit-clip-path: polygon(100% 1%, 0 50%, 100% 100%)
  clip-path: polygon(100% 1%, 0 50%, 100% 100%)
  z-index: 4

