.our-team
  width: 100%
  position: relative
  display: flex
  text-align: center
  flex-direction: column
  align-items: center
  background: $lightGrey
  padding-top: 110px

  .title-style
    padding-bottom: 30px

.team-slider-window
  width: 75%
  position: relative
  margin: 0 auto
  overflow: hidden
  display: flex
  justify-content: center
  vertical-align: middle
  align-items: center
  z-index: 3

.team-slider
  width: 100%
  position: relative
  padding: 0 50px
  display: flex
  flex-direction: row
  justify-content: center
  overflow: hidden
  z-index: 3

  .slick-list
    width: 100%
    z-index: 4

  .draggable
    width: 87%
    overflow: hidden
    z-index: 4

  .slick-prev
    position: absolute
    left: 0
    background: $sliderBtns
    width: 50px
    height: 95px
    -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%)
    clip-path: polygon(100% 0, 0 50%, 100% 100%)
    z-index: 5

  .slick-arrow:hover
      cursor: pointer

  .slick-next
    position: absolute
    background: $sliderBtns
    right: 0
    width: 50px
    height: 95px
    -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%)
    clip-path: polygon(100% 50%, 0 0, 0 100%)
    z-index: 5

.team-member
  display: inline-block
  position: relative
  padding: 190px 10px 160px 10px
  //padding-bottom: 160px
  color: $whiteColor
  visibility: hidden
  z-index: 5

.team-member.slick-active
  visibility: visible

.team-member.slick-center
  transform: scale(1.4)
  z-index: 6

  .member-photo:after
    left: 9999px

  .member-name
    font-size: 1.353em
    background: $memberName

  .member-occupation
    visibility: visible

.member-photo
  position: relative
  display: block
  margin: 0 auto
  //width: 240px
  //height: 240px
  transform: rotate(45deg)
  transform-origin: center center
  overflow: hidden
  background: blue
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
  border: 19px solid $whiteColor
  z-index: 2

  &:after
    content: ''
    background: rgba(255, 255, 255, 0.4)
    width: inherit
    height: inherit
    position: absolute
    top: 0
    left: 0

.member-photo > .member-img
  display: block
  max-width: 100%
  transform: rotate(-45deg) scale(2)

.member-name
  display: inline
  position: relative
  padding: 7px 60px 14px 60px
  //padding: 0.588em 10em 0.588em 3.647em
  text-align: center
  font-family: $OpenSansBold
  font-size: 1.059em //1.412em
  background: #636363 //$memberName
  line-height: 2
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 9% 100%)
  clip-path: polygon(0 0, 90% 0, 100% 100%, 9% 100%)
  z-index: 3

.member-occupation
  display: inline
  visibility: hidden
  padding: 0 25px
  position: relative
  text-align: center
  font-family: $OpenSansItalic
  font-size: 1.118em
  background: $btnRedColor
  line-height: 1.6
  -webkit-clip-path: polygon(0 0, 94% 0, 100% 100%, 6% 100%)
  clip-path: polygon(0 0, 94% 0, 100% 100%, 6% 100%)
  z-index: 4

.dark-triangle1
  position: absolute
  top: -20px
  left: 0
  width: 17% //215px
  height: 430px
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 51%)
  clip-path: polygon(0 0, 0% 100%, 100% 51%)
  background: $darkPoly
  z-index: 7



