.title-banner
  position: relative
  background: url("../img/titleBG.jpg") 0 0 no-repeat
  background-size: cover
  width: 100%
  height: 850px
  z-index: 4

.title-text-wrap
  display: block
  position: relative
  margin-left: -45%
  padding-top: 245px
  padding-bottom: 190px
  text-align: center

  span
    display: block
    font-family: $LemonMilkBold
    font-size: 9.294em
    background: rgba(255, 255, 255, 0.5)
    -webkit-background-clip: text
    color: transparent
    line-height: 0.85
    text-shadow: 0px 0px 6px rgba(255,255,255,0.4), 0 0 200px rgba(0, 0 , 0, 0.9)


  .small
      font-size: 5.647em
      margin-bottom: 65px

.agency-btn
  padding: 20px 33px
  font-family: $LatoBold
  font-size: 1.235em
  text-transform: uppercase
  border-radius: 35px
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2)

.white-btn
  background: $whiteColor
  color: $btnDarkColorText

.title-model
  position: absolute
  width: 70%
  max-width: 1000px
  right: -10%
  top: 100px
  z-index: 4