.what-we-do
  display: flex
  flex-direction: column
  position: relative
  width: 100%
  align-items: center
  background: $lightGrey
  z-index: 4

  .title-style
    margin: 94px auto 88px auto

.items-wrap
  width: 100%

.what-we-do__items
  width: 100%
  list-style: none
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-between

  li
    display: flex
    flex-direction: row
    margin-bottom: 100px
    width: 30%

    img
      padding-right: 22px
      width: 74px
      height: 74px

    .sub-title
      margin-top: 25px
      margin-bottom: 30px

.red-triangle1
  position: absolute
  left: 0
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 51%)
  clip-path: polygon(0 0, 0% 100%, 100% 51%)
  background: $btnRedColor
  z-index: 5


