.what-client-says
  width: 100%
  position: relative
  display: flex
  flex-direction: column
  text-align: center

  .title-style
    padding-top: 100px
    padding-bottom: 25px

.clients-wrap
  width: 97vw
  max-width: 1193px
  display: flex
  flex-direction: row
  justify-content: flex-start
  margin: 0 auto
  padding-bottom: 100px

.big-client-photo
  position: relative
  width: 415px
  height: 415px
  padding-left: 80px

.photo-frame
  position: relative
  margin-top: 100px
  width: 249px
  height: 249px
  transform: rotate(45deg)
  overflow: hidden
  border: 18px solid $whiteColor
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3)
  z-index: 3

.photo-frame > .pic-in-frame
  max-width: 100%
  transform: rotate(-45deg) scale(1.9)

.comment-slider-wrap
  width: 65%
  color: $mediumGrey

.client-comment
  display: flex
  flex-direction: row
  justify-content: flex-start

.quotes
  display: inline-block
  padding-top: 50px
  padding-right: 25px
  font-family: $PumpDemiBoldLETPlain
  font-size: 6.235em

.client-testimonail
  text-align: left
  margin-top: 80px
  
.place-comment
  font-family: $OpenSansItalic
  font-size: 1.176em

.place-client-name
  display: block
  margin-top: 40px
  font-family: $OpenSansBold
  font-size: 1.059em

.client-slider-wrap
  position: relative
  width:  100%
  display: flex
  flex-direction: row
  justify-content: flex-start
  //padding-left: 118px
  padding-top: 55px
  padding-bottom: 170px

.client-slider-window
  position: absolute
  overflow: hidden
  //left: -50px
  width: 100%

.client-slider
  display: block
  position: relative
  width: 75%
  overflow: hidden
  margin-left: 50px
  padding-top: 20px
  padding-bottom: 30px

  .slick-current
    .client-photo
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.6)

.client
  display: inline-block
  position: relative
  width: 100px
  height: 100px

.client-photo
  position: absolute
  top: 20px
  width: 70px
  height: 70px
  transform: rotate(45deg)
  overflow: hidden
  background: blue
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)

.client-photo > .little-client-photo
  max-width: 100%
  transform: rotate(-45deg) scale(2)

.content
  display: none

.name
  display: none

.red-triangle3
  position: absolute
  left: 0
  background: $btnRedColor
  width: 26%
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%)
  clip-path: polygon(0 0, 0 100%, 100% 50%)

.dark-triangle2
  position: absolute
  top: 0
  right: 0
  background: $darkPoly
  width: 18%
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%)
  clip-path: polygon(100% 0, 0 0, 100% 100%)
  z-index: 5


