.who-we-are
  position: relative
  width: 100%
  overflow: hidden
  z-index: 3

  .container
    display: flex
    flex-direction: row
    justify-content: flex-start
    padding-top: 160px
    padding-bottom: 70px
    position: relative
    z-index: 3

.who-we-are__text
  width: 40%
  max-width: 485px

  .title-style
    margin-bottom: 80px

  .text-style
    padding-bottom: 80px

.red-btn
  background: $btnRedColor
  color: $whiteColor

.mac-screen
  display: flex
  align-items: center
  position: relative
  width: 60%
  //padding-top: 5px
  padding-bottom: 90px

.mac-screen__img
  position: absolute
  width: 100%
  max-width: 700px
  z-index: 3

.mac-video
  position: relative
  display: block
  margin: 0 auto
  //width: 64%
  //left: -1.2%
  top: 0
  z-index: 4

.who-we-are__dark-poly
  position: absolute
  top: 0
  right: 0
  width: 60vw
  height: 700px
  background: $darkPoly
  webkit-clip-path: polygon(100% 0, 100% 50%, 70% 100%, 50% 100%, 0 0)
  clip-path: polygon(100% 0, 100% 50%, 70% 100%, 50% 100%, 0 0)
  z-index: 2