@import "libs.sass"

// Переменные
@import '_vars'

//---------Стили секций--------

//Стиль верхнего меню и логотипа
@import 'common/header'

//Секция с таймером, приветствием, формой, разделами и расписанием 
@import 'sections/title-banner'

//Секция приветствия 
@import 'sections/who-we-are'

//Секция envato elite с красным логтипом
@import 'sections/what-we-do'

//Секция со спикерами
@import 'sections/how-we-work'

//Секция со спонсорами
@import 'sections/our-team'

//Секция прошедшие события
@import 'sections/what-client-says'

//Footer
@import 'common/footer'

//---------Стили общих блоков--------

//Стиль текстовых блоков
@import 'common/section-text'

//Стиль форм
//@import 'common/cabHUB-btn'

//@import 'common/social_icons_shot_style'


html
    line-height: 1.2
    font-size: 17px
    
body 
    height: auto
    width: 100%
    margin: 0
    padding: 0

div
    display: block

h1
    margin: 0

p
    margin: 0

a
    text-decoration: none
   
ul
	padding-left: 0

.clearfix:after
    clear: both

.clearfix
    *zoom: 1

.bg__wrapper
    display: block
    top: 0
    left: 0
    z-index: 1 
    
.wrapper
    display: block
    margin: 0 auto
    position: relative 
    overflow: hidden
    z-index: 6
    opacity: .99
    width: 100%

.section
    display: block
    background: transparent
    
.container
    position: relative
    overflow: visible 
    width: 95vw
    max-width: 1193px
    margin: 0 auto
    //padding: 0
    background: transparent

//Адаптивная верстка
@import '_media'


