footer
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  text-align: center
  background: url("../img/footerBG.jpg") 0 0 no-repeat
  background-size: cover
  //height: 900px

  .title-style
    padding-top: 87px
    padding-bottom: 87px

.container.get-in-touch
  display: flex
  flex-direction: row
  justify-content: center
  padding-bottom: 100px

  span
    font-family: $OpenSansBold
    font-size: 1.294em
    color: $whiteColor
    display: block
    padding-bottom: 25px

  .office-address
    font-family: $OpenSans
    font-size: 1em

  a
    display: block
    font-family: $OpenSans
    color: $whiteColor
    line-height: 1.2

.contact-wrap
  display: flex
  flex-direction: row
  justify-content: flex-start
  width: 30%


.img-wrap
  padding-top: 12px
  padding-right: 25px

.content-wrap
  text-align: left

.copyright
  color: $whiteColor
  font-family: $OpenSans
  padding-bottom: 53px

.social-icons-wrap
  display: block
  width: 80vw
  max-width: 426px

  &:after
    content: ''
    display: block
    margin: 33px auto
    height: 1px
    background: $afterIconShotLine

.social_icons_shot
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin: 0 auto
  width: 80%

.red-triangle4
  position: absolute
  right: 0
  bottom: 0
  height: 200px
  width: 400px
  background: $btnRedColor
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%)
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%)









