.section-text
  display: block

.title-style
  display: block
  font-family: $PeaceSans
  font-size: 3.588em
  color: $titleColor

.sub-title
  display: block
  font-family: $OpenSansExtraBold
  font-size: 1.765em
  color: $textColor

.text-style
  display: block
  font-family: $OpenSans
  color: $textColor