extends ../layout/layout

block title
    | Agency

block header
    include ../common/header
block title-banner
    include ../sections/title-banner
block who-we-are
    include ../sections/who-we-are
block what-we-do
    include ../sections/what-we-do
block how-we-work
    include ../sections/how-we-works
block our-team
    include ../sections/our-team
block what-client-says
    include ../sections/what-client-says
block footer
    include ../common/footer