@font-face{
	font-family: "LatoBold";
	src: url("../fonts/LatoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "LatoBlack";
	src: url("../fonts/LatoBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "LemonMilkBold";
	src: url("../fonts/LemonMilkBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "OpenSans";
	src: url("../fonts/OpenSans.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "OpenSansExtraBold";
	src: url("../fonts/OpenSansExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "OpenSansItalic";
	src: url("../fonts/OpenSansItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "PeaceSans";
	src: url("../fonts/PeaceSans.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "PumpDemiBoldLETPlain";
	src: url("../fonts/PumpDemiBoldLETPlain.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

