doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(http-enquiv='X-UA-Compatible', content="IE = edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="keywords" content="")
        meta(name="author" content="AK")
        link(href="static/css/main.css" rel="stylesheet" type="text/css")
        link(href="static/css/animate.css" rel="stylesheet" type="text/css")
        link(href="static/css/slick.css" rel="stylesheet" type="text/css")
        link(href="static/fonts/fonts.css" rel="stylesheet" type="text/css")
        link(href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src="http://code.jquery.com/jquery-latest.js")
        script(src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")
        script(src="static/js/main.js")
        script(src="static/js/slick.min.js")
        script(src="static/js/libs.min.js")
        script(src="static/js/wow.min.js")

        title
            block title
    body
        <!--[if lt IE 8]>
        p.browserhappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href="http://browserhappy.com/">upgrade your browser</a>
            | to improve your experience.
        <![endif]-->
        .wrapper
            block header
            block title-banner
            block who-we-are
            block what-we-do
            block how-we-work
            block our-team
            block what-client-says
            block footer