header
    .header-wrap
        .header-logo-wrap
            span.header-logo Agency
        .container
            nav.agency-nav-wrap
                ul.agency-nav
                    li
                        a(href="javascript:void(0);") Home
                    li
                        a(href="javascript:void(0);") About us
                    li
                        a(href="javascript:void(0);") Team
                    li
                        a(href="javascript:void(0);") Service
                    li
                        a(href="javascript:void(0);") Process
                    li
                        a(href="javascript:void(0);") Clients
                    li
                        a(href="javascript:void(0);") Work
            form.form-search
               input(type='text' placeholder='Search...').search-line
               //input(type='submit' name='send').header-search-input
        .utilities
            //a(href="javascript:void(0);").header-search
            //input(type='submit' name='send').header-search-input
            a(href="facebook.com").header-fb